<%- include('../partials/header', {title: 'Category Master'}) %>
    <h2><%= editCategory ? "Edit Category" : "Add Category" %></h2>

    <form
        method="POST"
        action="<%= editCategory ? '/categories/update/' + editCategory.CategoryId : '/categories/add' %>"
    >
        <input
            type="text"
            name="CategoryName"
            placeholder="Category Name"
            value="<%= editCategory ? editCategory.CategoryName : ''%>"
            required
        />

        <button class="btn-primary">
            <%= editCategory ? "Update Category" : "Add Category" %>
        </button>


        <% if(editCategory) { %>
            <a href="/categories">Cancel</a>
        <%}%>
    </form>

    <hr>

    <h2>Category List</h2>
    <div class="table-wrapper">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>

            <% categories.forEach(cat => { %>
                <tr>
                    <td><%= cat.CategoryId %></td>
                    <td><%= cat.CategoryName %></td>
                    <td>
                        <a href="/categories/edit/<%= cat.CategoryId %>">Edit</a>|
                        <a class="btn-danger" href="/categories/delete/<%= cat.CategoryId %>" onclick="return confirm('Delete this category?')">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
<%- include('../partials/footer') %>